# Build output
/target/
build/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Node.js
node_modules/
package-lock.json

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
