<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Inicio</title>
    
</head>
<body class="bg-gray-50">

    <!-- Fragmento de contenido -->
    <div th:fragment="contenido" class="max-w-4xl mx-auto p-8 bg-white rounded-lg shadow-lg mt-8">
        <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Bienvenido al Sistema de Ventas de Belleza</h2>
        <p class="text-lg text-gray-700 mb-4">Aquí puedes administrar clientes, productos y ventas de forma fácil y eficiente. El sistema está diseñado para ayudarte a gestionar todas las operaciones de manera rápida y sencilla.</p>
        <p class="text-lg text-gray-700">Explora las secciones de <strong>Clientes</strong>, <strong>Ventas</strong> y <strong>Servicios</strong> desde el menú de navegación para comenzar a utilizar el sistema.</p>
        
    </div>


</body>
</html>